{% extends 'core_passwords/base_password.html' %} 

{% block content %}
    <div class="login-root">
        <div
          class="box-root flex-flex flex-direction--column"
          style="min-height: 100vh; flex-grow: 1"
        >
          <div
            class="box-root padding-top--24 flex-flex flex-direction--column"
            style="flex-grow: 1; z-index: 9"
          >
            <div
              class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center"
            >
              <h1><a href="{% url 'index' %}" rel="dofollow">EduWave</a></h1>
            </div>
            <div class="formbg-outer">
              <div class="formbg">
                <div class="formbg-inner padding-horizontal--48">
                  <span class="padding-bottom--15"
                    >Change the password to your account</span
                  >
                  <form method="POST" id="stripe-login">
                      {% csrf_token %}
                    <div class="field padding-bottom--24">
                      <label for="id_new_password1">New Password</label>
                      {{form.new_password1}}
                    </div>
                    <div class="field padding-bottom--24">
                        <label for="id_new_password2">Confirm Password</label>
                        {{form.new_password2}}
                      </div>
                    <div class="field padding-bottom--24">
                      <input type="submit" name="submit" value="Send" />
                    </div>
                    <div class="field">
                      <span style="text-align: center" class="ssolink"
                        >EduWave handles your data securely!</span
                      >
                    </div>
                  </form>
                </div>
              </div>
              <div class="footer-link padding-top--24">
                <div
                  class="listing padding-top--24 padding-bottom--24 flex-flex center-center"
                >
                  <span><a href="{% url 'index' %}">© EduWave</a></span>
                  <span><a href="#">Contact</a></span>
                  <span
                    ><a
                      target="_blank" href="https://www.freeprivacypolicy.com/live/ef49dc09-011d-42ba-8693-d30cb86a88a4"
                      >Privacy & terms</a
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}